@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

h1 {
    font-size: 1.75rem;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.top-news {
    background-color: #f5e8e8;
}

.newsImage {
    border-radius: 0.50rem;
    width: 100%;
    height: auto;
}

.categoryCard {
    color: black;
    display: flex;
    cursor: pointer;
}

.categoryCard:hover {
    text-decoration: underline;
}

.categoryImg {
    width: 35%;
    object-fit: contain;
}

.categoryText {
    width: 65%;
}

.footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 40px 0;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-icons a {
    margin: 0 10px;
    color: #ffffff;
}